.weather__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 25px;

    gap: 22px;
}

@media (min-width: 1024px) {
    .weather__list {
        margin-top: 80px;
    }
}