.forecast__wrap-list {
    width: 94%;

    display: flex;

    margin-left: 15px;

    line.recharts-cartesian-axis-line {
        stroke: none !important;
    }

    circle.recharts-dot.recharts-line-dot {
        stroke: transparent !important;
        fill: transparent !important;
        cx: 5 !important;
    }  

    line.recharts-cartesian-axis-tick-line {
        display: none;
    }

    text.recharts-text.recharts-cartesian-axis-tick-value {
        font-size: 11px;
        fill: var(--gray-200);
    }
}