.weather__list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    justify-self: center; /* Горизонтальное выравнивание по центру */

    padding: 18px;

    width: 100%;
    height: 250px;

    background-color: var(--white);
    border-radius: var(--br--12);
    box-shadow: 0px 1px 8px 3px rgba(141 141 141 / 25%);

    &.sunny {
        background-color: #FFF9EC;
    }

    &.rain,
    &.cloudy,
    &.thunderstorm,
    &.drizzle,
    &.snow {
        background-color: #E0E5FB;
    }

    &.sunny &__params &__params-item .params {
        color: var(--light);
    }

    // &.sunny path.recharts-curve.recharts-area-area {
    //     fill: var(--light);
    // }

    // path.recharts-curve.recharts-area-area {
    //     fill: var(--primary-500);
    // }

    path.recharts-curve.recharts-area-curve {
        stroke: unset;
    }

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        width: 100%;
    }

    &__descr {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        gap: 7px;

        p {
            font-size: 14px;
            font-weight: 600;
        }

        span {
            font-size: 19px;
        }
    }

    &__icon {
        display: flex;
        align-items: center;

        gap: 12px;

        img {
            width: 20px;
        }

        span {
            margin-right: 15px;
            font-size: 12px;
            font-weight: 500;
            text-transform: capitalize;
            text-align: center;
            color: var(--gray-200);
        }
    }

    &__middle {
        margin-top: 10px;
        width: 109%;

        margin: 0 -24px;

        img {
            width: 100%;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
    }

    &__degree {
        display: flex;
        flex-direction: column;

        gap: 5px;
    }

    &__degree-top {
        display: flex;

        gap: 3px;

        span {
            font-size: 44px;
        }
    }

    &__degree-bottom > p {
        font-size: 13px;
        color: var(--gray-200);

        span {
            margin-left: 5px;
            font-weight: 600;
        }
    }

    &__degree-switch {
        position: relative;
        display: flex;
        gap: 15px;

        span {
            position: relative;
            
            font-size: 22px;
            color: var(--gray-200);
            cursor: pointer;
            transition: .3s;
        }

        span:after {
            position: absolute;

            content: '';

            top: 0;
            right: -10px;

            width: 2px;
            height: 50%;

            background-color: var(--black);
            border-radius: 2px;
            pointer-events: none;
        }

        span:last-child:after {
            display: none;
        }

        .degree-switch.active {
            color: var(--black);
            z-index: 1;
        }
    }

    &__params {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        gap: 8px;

        &-item {
            font-size: 13px;

            span {
                font-weight: 600;

                color: var(--primary-500);
            }
        }
    }

    .remove-button {
        position: absolute;

        top: 6px;
        right: 9px;

        width: 14px;
        height: 14px;
        border: none;
        background: none;

        img {
            width: 100%;
        }
    }
}

@media (min-width: 600px) {
    .weather__list-item {
        width: 48%;
    }
}

@media (min-width: 1024px) {
    .weather__list-item {
        width: 31%;
    }
}

@media (min-width: 1440px) {
    .weather__list-item {
        width: 23%;
    }
}